* {
    margin: 0;
    padding: 0;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 293px;
    width: 600px;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #A9A9A9;
    border-radius: 10px;
    bottom: -30px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
    margin-right: 30px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.anuncio-info {
    display: block;
    margin-top: 160px;
}

.anuncio-info h1{
    font-size: 30px;
    display: inline-block;
    font-weight: bold;
}
.anuncio-info h2{
    font-size: 23px;
    margin-top: 50px;
    font-weight: bold;
    
}

.anuncio-info button{
    display: inline-block;
    float: right;
}

#preco-view {
    display: inline-block;
    font-size: 25px;
    float: right;
}

.anuncio-info p {
    margin-top: 30px;
    font-size: 20px;
    
}

#tempouso_view {
    display: inline-block;
    font-weight: bold;
}
#cidade_view {
    display: inline-block;
    padding-right: 100px;
    font-weight: bold;
}

