@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}

ol {
    list-style: none;
}

#form-pesquisa{
    width: 40%;
    height: 26px;
}
#form-pesquisa button{
    height: 26px;
}


.container-fluid {
    margin: 0 80px;
}

.anuncio {
    margin-top: 30px;
    background-color: #e9dbdb;
    height: 20%;
}

#anuncio-preco {
    margin-left: auto;
    font-size: 22px;
    font-weight: bold;
}

#anuncio-anunciante {
    margin: 10px 0;
    display: block;
    left: 50px
}

#anuncio-cidade {
    display: inline-block;
    left: 50px
}


img {
    height: 10vw;
    width: 15vw;
}

.descricao {
    margin: 0 0 0 10px;
}

.descricao h1 {
    margin: 0;
    font-size: 32px;
    display: inline-block;
}

.descricao h1 a {
    text-decoration: none;
    color: 	#363636;
}

.divide-img-descricao {
    display: flex;
}

.form-group {
    margin-top: 20px;
}

.form-floating {
    margin: 30px 0;
}

#registerSubmit {
    margin-top: 30px;
}

#paginacao {
    text-align: center;
}

#paginacao a{
    margin: 0 5px;
}

/* Pagina Meus anuncios*/

#btn-Editar {
    display: inline-block;
    margin-left: 200px;
}

#btn-Deletar {
    display: inline-block;
}